extensions:
  zpages:
    endpoint: 0.0.0.0:55679

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  debug:
    verbosity: detailed

  prometheus:
    endpoint: 0.0.0.0:8889

  otlp/jaeger:
    endpoint: telemetry-jaeger:4317
    tls:
      insecure: true

  file/traces:
    path: /otel-data/traces.jsonl

  file/metrics:
      path: /otel-data/metrics.jsonl

  file/logs:
      path: /otel-data/logs.jsonl


service:
  telemetry:
    metrics:
      readers:
        - pull:
            exporter:
              prometheus:
                host: 0.0.0.0
                port: 8888
  extensions: [zpages]
  pipelines:

    traces:
      receivers: [otlp]
      processors: []
      exporters: [debug, file/traces, otlp/jaeger]

    metrics:
      receivers: [otlp]
      processors: []
      exporters: [debug, file/metrics, prometheus]

    logs:
      receivers: [otlp]
      processors: []
      exporters: [debug, file/logs]